* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 16px;
	scroll-behavior: smooth
}

body {
	font-family: "Montserrat", sans-serif;
}

p {
	font-family: "Montserrat", sans-serif;
	font-size: 1.1rem;
}

.pad {
	padding: 0 8%;
}

h5.card-title {
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	color: #718093;
}

h2.text-center.pb-5 {
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	font-size: 2.5rem;
	color: #353b48;
}

h2.pb-2 {
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	color: #353b48;
	font-size: 2.5rem;
}

h3.pb-5 {
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	font-size: 2rem;
	color: #718093;
}

button.btn.btn-warning {
	color: white;
	font-family: "Roboto Slab", serif;
	font-size: 1.2rem;
	border-radius: 25px 25px;
}

button.btn.btn-warning:hover {
	color: #57606f;
	background-color: #ffffff;
	border-color: #57606f;
}

p.card-text.text-justify {
	font-size: .9rem;
}

p.pb-2 {
	font-weight: 500;
}

label {
	font-weight: 500;
}

button.btn.btn-warning.container-fluid {
	color: white;
	font-family: "Roboto Slab", serif;
	font-size: 1.2rem;
	border-radius: 25px 25px;
}

button.btn.btn-warning.container-fluid:hover {
	color: #57606f;
	background-color: #ffffff;
	border-color: #57606f;
}

a.btn.btn-warning {
	color: white;
	font-family: "Roboto Slab", serif;
	font-size: 1.2rem;
	border-radius: 25px 25px;
}

a.btn.btn-warning:hover {
	color: #57606f;
	background-color: #ffffff;
	border-color: #57606f;
}


.heading {
	font-family: "Roboto Slab" serif;
}

.jumbotron > p.lead {
	font-weight: bold;
}

.home-intro {
	display: flex;
}

.jumbotron {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	background-image: url("./img/cover.jpg");
	background-size: cover;
	height: 93vh;
	width: 100%;
	align-items: flex-end;
	justify-content: flex-end;
	font-family: "Roboto Slab", sans-serif;
	color: white;
}

h3 {
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	font-size: 2rem;
	color: #353b48;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
	box-shadow: 0px 2px 10px -4px rgba(0,0,0,0.8);
}

#hello {
	font-family: "Montserrat" sans-serif;
	font-weight: 800;
	font-size: 5rem;
	color: white;
	text-shadow:  0px 2px 2px rgba(0,0,0,0.34);
}

p.lead {
	text-shadow:  0px 2px 2px rgba(0,0,0,0.34);
}

.navbar-nav li {
	padding: .5rem;
	align-items: center;
	font-size: 1.2rem;
}

a.nav-link {
	font-family: "Roboto Slab", serif;
	color: white;
}

.nav-scrolled {
	background-color: white;
	color: black;
}

#map-outer {
	overflow: hidden;
	padding-bottom: 40%;
	position: relative;
	height: 0;
}

#map-outer iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.site-footer {
  	background-color:#26272b;
  	padding:45px 0 20px;
  	font-size:15px;
  	line-height:24px;
  	color:#737373;
}

.fa {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.footer-details {
	display: flex;
}

.copyright p {
	margin-bottom: .2rem;
	font-family: "Roboto Slab" sans-serif;
	font-size: 1rem;
}

.copyright {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 4rem;
}

div.copyright {
	padding-left: 4rem;
}

.icons {
	display: flex;
	flex-direction: column;
}

a.fa {
	margin: .5rem;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


@media screen and (max-width: 480px) {
	html {
		font-size: 12px;
	}

	.pad {
		padding: 0 1rem;
	} 

	a {
		font-size: 10px;
	}

	div.col-lg-6.col-sm-12.col-md-6.copyright {
		padding-left: 1rem;
		margin-bottom: 3rem;
	}

	div.col-lg-6.col-sm-12.col-md-6.icons {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	div.row.container-fluid.footer-details {
		margin: 0;
		padding: 0;
	}



}

